<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <body>

        <div class="container p-3">
            <font size="+2"> <b> <i> {{ item }} </i></b> </font>
        </div>

        {% if item.description %}
            <div class="container p-3">
                <p><b> Description: </b>
                    {{ item.description }} </p>
            </div>
        {% endif %}

        {% if item.location %}
            <div class="container p-3">
                <p><b> Location: </b>
                    {{ item.get_location_display }} </p>
            </div>
        {% endif %}

        {% if item.date %}
            <div class="container p-3">
                <p><b> Date Found: </b>
                    {{ item.date }} </p>
            </div>
        {% endif %}

        {% if item.expiration_date %}
            <div class="container p-3">
                <p><b> Expiration Date: </b>
                    {{ item.expiration_date }} </p>
            </div>
        {% endif %}

        {% if item.files %}
            <div class="container-sm p-3">
                <p><b> Picture: </b></p>
                {% for file in item.files %}
                    <div style="margin: 10px 0">
                        {% if file.type == 'pdf' %}
                            <embed src="{{ file.file.url }}" type="application/pdf" width="100%"
                                   height="600px">
                        {% elif file.type == 'txt' %}
                            <embed src="{{ file.file.url }}" type="text/plain" width="100%" height="400px">
                        {% elif file.type == 'png' or file.type == 'jpeg' %}
                            <img src="{{ file.file.url }}" class="img-fluid">
                        {% else %}    
                            Could not display file.
                            <br>
                            <a href="{{ file.file.url }}">
                                <button class="btn btn-black">Download</button>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if item.tag %}
            <div class="container p-3">
                <p><b> Tag: </b>
                    {{ item.get_tag_display }} </p>
            </div>
        {% endif %}

        <div class="container p-3">
            <p><b> {{ item.get_status_display }}</b></p>
        </div>

        {% if item.get_status_display == Status.RESOLVED and item.resolve_text %}
            <div class="container p-3">
                <p>{{ item.resolve_text }}</p>
            </div>
        {% endif %}

        {% if can_flag and user != item.user %}
            <div class="container p-3">
                <form method="post" action="{% url 'items:flag' item.id %}">
                    {% csrf_token %}
                    <button type="submit">Flag Post</button>
                </form>
            </div>
        {% endif %}

        {% if user == item.user %}
            <div class="container p-3">
                <form action="{% url 'items:delete' item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete Post</button>
                </form>
            </div>
        {% endif %}

        </body>
    {% else %}
        <p> As an anonymous user, you do not have access to this page.
            Please log in to view posts. </p>
    {% endif %}

{% endblock %}